<app-navbar></app-navbar>
<div class="container">
    <div class="row mb-5 mt-3">
        <div class="col-md-12"><h1>Ecrivez un article</h1> </div>
    </div>
    <div class="row">
        <div class="col-md-9">
       <p>    <input type="text" placeholder="Titre..." id="myInput" aria-label="Texte de la tâche"></p> 
       
        
         <p>    <textarea class="form-control" id="myTextarea" rows="3"></textarea></p> 
         <p class="text-right">    <button type="button" class="text-right btn btn-primary" onclick="newElement()">Ajouter</button> </p> 
        </div>
    </div>
    <div class="row mt-5">
     <!--   <div class="col-md-12 card">
            <div class="card-body">-->
            <!--     <div class="col-md-8"> 
                    tache 1
                  </div>  
                 <div class="col-md-4"> 
                     <button type="button" class="btn btn-warning">Modifier</button>
                     <button type="button" class="btn btn-danger">supprimer</button>
                </div>    
               
           </div>  </div>-->
            <div class="col-md-8">
           <ul id="myUL">
           
           
          </ul></div>
    </div>
          
</div>
