<app-navbar></app-navbar>

<!-- Main Content-->
<div class="container px-4 px-lg-5">
    <div class="row gx-4 gx-lg-5 justify-content-center">
        <div class="col-md-10 col-lg-8 col-xl-7">
            <!-- Post preview-->
            <div class="post-preview" *ngFor="let p of articles ; let i = index">
                
                    <h2 class="post-title">{{p.titre}}</h2>
                    <h3 class="post-subtitle">{{p.contenu}}</h3>
            
                    Posted by
                    <a href="#!">Start Bootstrap</a>
                    {{p.date| date }}
                    <div class="col-md-12" >
          
                        <div class="row float-left">
                        <div class="col-md-3"> 
                            <button type="button" class="btn btn-link" [routerLink]="['/addarticle',i]">Modifier</button>
                           
                       </div> 
                        <div class="col-md-3">   
                       <button type="submit" class="btn btn-link" (click)="delete(i)" >Supprimer</button>
                   </div>
                </div>
                   </div>
                    <hr class="my-4" />

            </div>
        </div>
    </div>
</div>
<app-footer></app-footer>
