<!--<body oncontextmenu='return false' class='snippet-body'> -->
<div id="layoutAuthentication_content">
    <main>
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-7">
                    <div class="card shadow-lg border-0 rounded-lg mt-5">
                        <div class="card-header"><h3 class="text-center font-weight-light my-4">Créer un compte</h3></div>
                        <div class="card-body">
                            <form role="form" onsubmit="signUp(event);" autocomplete="off">
                                
                                        <div class="form-floating mb-3">
                                            
                                            <input class="form-control"  name="fname" id="fname"type="text" placeholder="Entrer votre nom et prénom" />
                                            <label for="inputFirstName">Nom et prénom</label>
                                        </div>
                                   
                                <div class="form-floating mb-3">
                                     
                                    <input class="form-control"  name="email" id="email"  type="email" placeholder="name@example.com" />
                                    <label for="inputEmail">Email address</label>
                                </div>
                               
                                  
                                        <div class="form-floating mb-3">
                                           
                                            <input class="form-control" name="pwd" id="pwd" type="password" placeholder="Entrer un mot de passe" />
                                            <label for="inputPassword">Mot de passe</label>
                                        </div>
                                 
                                   
                              
                                <div class="mt-4 mb-0">
                                    <div class="d-grid"><button type="submit" class="btn btn-primary text-center" >Inscription</button> </div>
                                </div>
                            </form>
                        </div>
                        <div class="card-footer text-center py-3">
                            <div class="small"> <a routerLink="/">Vous avez un compte? Connectez-vous</a> </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
</div>
<!--</body>-->
